<p id="notice"><%= notice %></p>

<h1 class="page-title">Users Files</h1>

<div class="cards-list">
  <% @arquivos.each do |arquivo| %>
    <div class="card">
      <%if arquivo.image.present?%>      
        <%if arquivo.image.metadata["mime_type"].split('/')[0] == "image"%>
          <div class="card-image">
            <%= image_tag arquivo.image_url%>
          </div>
          <div class="card-subtitle">
            <%= arquivo.image.metadata['filename']%>
          </div>
        <%else%>
          <div class="card-image">
            <%= image_tag src="https://cdn.icon-icons.com/icons2/2120/PNG/512/folder_archive_documents_open_icon_131246.png"%>
          </div>
          <div class="card-subtitle">
            <%= arquivo.image.metadata['filename']%>
          </div>
        <% end %>
      <% end %>
      <div class="card-actions row">
        <%= button_to arquivo, method: :get, class:'icon-button' do %>
          <i class="fa fa-eye"></i>
        <% end %>
        <%= button_to download_arquivo_url(arquivo), method: :get, class:'icon-button' do %>
          <i class="fa fa-download"></i>
        <% end %>
        <%= button_to arquivo, method: :delete, data: { confirm: 'Are you sure?' }, class:'icon-button' do %>
          <i class="fa fa-trash"></i>
        <% end %>    
      </div>
    </div> 
  <% end %>
</div>

<h1 class="page-title">My Files</h1>

<div class="cards-list">
  <% @meus_arquivos.each do |arquivo| %>
    <div class="card">
      <%if arquivo.image.present?%>      
        <%if arquivo.image.metadata["mime_type"].split('/')[0] == "image"%>
          <div class="card-image">
            <%= image_tag arquivo.image_url%>
          </div>
          <div class="card-subtitle">
            <%= arquivo.image.metadata['filename']%>
          </div>
        <%else%>
          <div class="card-image">
            <%= image_tag src="https://cdn.icon-icons.com/icons2/2120/PNG/512/folder_archive_documents_open_icon_131246.png"%>
          </div>
          <div class="card-subtitle">
            <%= arquivo.image.metadata['filename']%>
          </div>
        <% end %>
      <% end %>
      <div class="card-actions row">
        <%= button_to arquivo, method: :get, class:'icon-button' do %>
          <i class="fa fa-eye"></i>
        <% end %>
        <%= button_to download_arquivo_url(arquivo), method: :get, class:'icon-button' do %>
          <i class="fa fa-download"></i>
        <% end %>
        <%= button_to arquivo, method: :delete, data: { confirm: 'Are you sure?' }, class:'icon-button' do %>
          <i class="fa fa-trash"></i>
        <% end %>    
      </div>
    </div> 
  <% end %>
</div>

<div class='buttons-container'>
  <%= button_to new_arquivo_path, method: :get, class:'button' do %>
    Upload new file
  <% end %>
</div>
