<p id="notice"><%= notice %></p>

<h1 class="page-title">File Data</h1>

  <%if @arquivo.image.present?%>
    <div class="file-data">
      <%if @arquivo.image.metadata["mime_type"].split('/')[0] == "image"%>
        <div class="data-col-img">
          <%= image_tag @arquivo.image_url%>
        </div>
        <div class="data-col-text">
          <p class="data-text">Name: <%= @arquivo.image.metadata['filename']%></p>
          <p class="data-text">Description: <%= @arquivo.description%></p>
          <p class="data-text">Size: <%= @arquivo.tamanho/1024%>KB</p>
          <p class="data-text">Upload Date: <%= @arquivo.created_at %></p>
        </div>
        <%else%>
          <div class="data-col-img">
            <%= image_tag src="https://cdn.icon-icons.com/icons2/2120/PNG/512/folder_archive_documents_open_icon_131246.png"%>
          </div>
          <div class="data-col-text">
            <p class="data-text">Name: <%= @arquivo.image.metadata['filename']%></p>
            <p class="data-text">Description: <%= @arquivo.description%></p>
            <p class="data-text">Size: <%= @arquivo.tamanho/1024%>KB</p>
            <p class="data-text">Upload Date: <%= @arquivo.created_at %></p>
        </div>
      <% end %>
    </div>
  <% end %>

<div class='buttons-container'>
  <%= button_to download_arquivo_url(@arquivo), method: :get, class:'button' do %>
    Download
  <% end %>
  <%= button_to arquivos_path, method: :get, class:'button' do %>
    Back
  <% end %>
</div>